In [64]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn


def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

In [65]:
def select_all_tasks_query(query):
    database = "sqlite_db_pythonsqlite.db"
    conn = create_connection(database)
    with conn:
        cur = conn.cursor()
        cur.execute(query)
        rows = cur.fetchall()
        for row in rows:
            print(row)

In [66]:
# Question 10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

query = """
SELECT NAME,
SUM(COST) AS REVENUE
FROM
(SELECT NAME,
CASE WHEN B.MEMID = 0 THEN B.SLOTS * F.GUESTCOST
ELSE B.SLOTs * F.MEMBERCOST
END AS COST
FROM FACILITIES AS F
LEFT JOIN BOOKINGS AS B ON F.FACID = B.FACID
)
GROUP BY NAME
HAVING REVENUE < 1000
ORDER BY REVENUE;"""

select_all_tasks_query(query)

2.6.0
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [67]:
# Question 11: Produce a report of members and who recommended them in alphabetic surname,firstname order

query = """
SELECT MEM.SURNAME AS MEM_SUR,
MEM.FIRSTNAME AS MEM_FIR,
REM.SURNAME AS REM_SUR,
REM.FIRSTNAME AS REM_FIR
FROM MEMBERS AS MEM
LEFT JOIN MEMBERS AS REM ON MEM.RECOMMENDEDBY = REM.MEMID
WHERE MEM_SUR != 'GUEST'
ORDER BY MEM_SUR, MEM_FIR;"""

select_all_tasks_query(query)

2.6.0
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Farrell', 'David', None, None)
('Farrell', 'Jemima', None, None)
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rownam', 'Tim', None, None)
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Darren', None, None)
('Smith', 'Darren', None, None)
('Smith', 'Jack', 'Smith', 'Darren')
('Smith', 'Tracy', None, None)
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Tracy', 'Burton', None, None)
('Tupperware', 'Hyacinth', None, None)
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [68]:
# Question 12: Find the facilities with their usage by member, but not guests
query = """
SELECT SUB.NAME,
       COUNT(*) AS BOOK_NUM
FROM (
  SELECT *
  FROM FACILITIES AS F
  LEFT JOIN BOOKINGS AS B 
  ON F.FACID = B.FACID
  WHERE B.MEMID > 0) AS SUB
GROUP BY SUB.NAME;"""

select_all_tasks_query(query)

2.6.0
('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

In [69]:
# Question 13: Find the facilities usage by month, but not guests

query = '''
SELECT f.name, 
       strftime('%m', b.Starttime) AS Month, 
       COUNT(b.bookid) AS Total_Books, 
       SUM(b.slots) AS Total_slots
FROM FACILITIES AS f
LEFT JOIN (
    SELECT * 
    FROM BOOKINGS
    WHERE memid != 0) AS b
ON f.facid = b.facid
GROUP BY f.name, Month;'''

select_all_tasks_query(query)

2.6.0
('Badminton Court', '07', 51, 165)
('Badminton Court', '08', 132, 414)
('Badminton Court', '09', 161, 507)
('Massage Room 1', '07', 77, 166)
('Massage Room 1', '08', 153, 316)
('Massage Room 1', '09', 191, 402)
('Massage Room 2', '07', 4, 8)
('Massage Room 2', '08', 9, 18)
('Massage Room 2', '09', 14, 28)
('Pool Table', '07', 103, 110)
('Pool Table', '08', 272, 303)
('Pool Table', '09', 408, 443)
('Snooker Table', '07', 68, 140)
('Snooker Table', '08', 154, 316)
('Snooker Table', '09', 199, 404)
('Squash Court', '07', 23, 50)
('Squash Court', '08', 85, 184)
('Squash Court', '09', 87, 184)
('Table Tennis', '07', 48, 98)
('Table Tennis', '08', 143, 296)
('Table Tennis', '09', 194, 400)
('Tennis Court 1', '07', 65, 201)
('Tennis Court 1', '08', 111, 339)
('Tennis Court 1', '09', 132, 417)
('Tennis Court 2', '07', 41, 123)
('Tennis Court 2', '08', 109, 345)
('Tennis Court 2', '09', 126, 414)

In [70]:
query = """
  SELECT SUB.NAME, 
         SUB.MONTH,
         COUNT(*) AS BOOK_NUM,
         SUM(SUB.SLOTS) AS TOTAL_SLOTS
  FROM
  (SELECT F.NAME,
          B.SLOTS,
          strftime('%m', b.Starttime) AS MONTH
  FROM FACILITIES AS F
  LEFT JOIN BOOKINGS AS B 
  ON F.FACID = B.FACID
  WHERE B.MEMID > 0) AS SUB
  GROUP BY SUB.NAME, SUB.MONTH;"""

select_all_tasks_query(query)

2.6.0
('Badminton Court', '07', 51, 165)
('Badminton Court', '08', 132, 414)
('Badminton Court', '09', 161, 507)
('Massage Room 1', '07', 77, 166)
('Massage Room 1', '08', 153, 316)
('Massage Room 1', '09', 191, 402)
('Massage Room 2', '07', 4, 8)
('Massage Room 2', '08', 9, 18)
('Massage Room 2', '09', 14, 28)
('Pool Table', '07', 103, 110)
('Pool Table', '08', 272, 303)
('Pool Table', '09', 408, 443)
('Snooker Table', '07', 68, 140)
('Snooker Table', '08', 154, 316)
('Snooker Table', '09', 199, 404)
('Squash Court', '07', 23, 50)
('Squash Court', '08', 85, 184)
('Squash Court', '09', 87, 184)
('Table Tennis', '07', 48, 98)
('Table Tennis', '08', 143, 296)
('Table Tennis', '09', 194, 400)
('Tennis Court 1', '07', 65, 201)
('Tennis Court 1', '08', 111, 339)
('Tennis Court 1', '09', 132, 417)
('Tennis Court 2', '07', 41, 123)
('Tennis Court 2', '08', 109, 345)
('Tennis Court 2', '09', 126, 414)